<div class="p-3">
  <ul class="nav nav-pills">
    <li>
      <button
        (click)="goToHome()"
        [ngClass]="
          currentRoute == 'Home'
            ? 'btn btn-danger ms-2'
            : 'btn btn-outline-primary ms-2'
        "
      >
        Home
      </button>
    </li>
    <li>
      <button
        (click)="goToProducts()"
        [ngClass]="
          currentRoute == 'Product'
            ? 'btn btn-danger ms-2'
            : 'btn btn-outline-primary ms-2'
        "
      >
        Product
      </button>
    </li>
  </ul>
</div>
<router-outlet> </router-outlet>
