<div class="p-3">
  <div class="card">
    <div class="card-body">
      <h3>Product Component</h3>
      <div>
        <input [(ngModel)]="keyword" type="text" />
        <button (click)="search()" class="ms-2 btn btn-outline-success">
          Search
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody *ngIf="products">
          <tr *ngFor="let p of products">
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>
              <button (click)="deleteProduct(p)" class="btn btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
